@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Meal Helper</h1>
    <p class="lead">Meal Tracker helps you track the ingedients that go into your meals and the financial impact of them!</p>
</div>